@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Application Form */

.form-page{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}


form{
  padding: 30px;
  border-radius: 10px;
  /*background-color: rgb(236, 55, 31);*/
  border:2px rgb(236, 55, 31) solid;
}

.ui.form h1{
  text-align: center;
  /*color:white;*/
  color: rgb(236, 55, 31);
  padding-bottom: 20px;
}


/* Buttons */

button.ui.button{
  background-color: orange;
  color:white
}

button.ui.button:hover{
  background-color:rgba(255, 166, 0, 0.788);
  color:white
}

.buttons{
  margin-top: 20px;
  text-align: center;
}

/* Logo */

img{
  width: 300px;
  height: 50px;
}

